# =========================
# Terraform Files
# =========================
*.tfstate
*.tfstate.*
.terraform/
crash.log
override.tf
override.tf.json
*_override.tf
*_override.tf.json
.terraform.lock.hcl

# =========================
# Kubernetes Files
# =========================
kubeconfig.yaml

# =========================
# Docker Files
# =========================
*.tar

# =========================
# Logs
# =========================
logs/
*.log

# =========================
# Environment Files
# =========================
.env
.env.*

# =========================
# macOS Files
# =========================
.DS_Store

# =========================
# Linux Files
# =========================
*~

# =========================
# VSCode Files
# =========================
.vscode/

# =========================
# Node.js Files
# =========================
node_modules/

# =========================
# Python Files
# =========================
__pycache__/
*.pyc

# =========================
# Coverage Reports
# =========================
coverage/

# =========================
# Temporary Files
# =========================
tmp/
temp/
